body {
  background-image: url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  font-family: sans-serif;
  color:white;
  background-size: cover;


  
}

.title-description {
  text-align:center;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 0px;
}

.survey-form {
  padding: 10px 50px;
  background: #32055a;
  margin: 0 200px;
  font-weight: 200px;
}

input[type=text], [type=email], select{
  width: 100%;
  height: 40px;
  
}

.checkbox {
    font-size: 1.50rem;

}

textarea {
  height:8rem;
  width: 100%;
  margin-bottom: 30px;
}

button {
  width: 100%;
  height: 4rem;
  background: rgb(18, 236, 129);
  color:white;
  font-family: 'poppins',sans-serif;
  font-size: 25px;
}